@font-face {
  font-family: "gilroy extra bold";
  src: url(../fonts/gilroy-extrabold.woff2);
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 15px;
  color: #464646;
  line-height: 30px;
  font-weight: 200;
}

h1 {
  font-family: "gilroy extra bold", sans-serif;
  font-size: 48px;
  color: #000000;
  text-transform: uppercase;
}

h2 {
  font-family: "gilroy extra bold", sans-serif;
  font-size: 47px;
  color: #000000;
}

h3 {
  font-family: "gilroy extra bold", sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h4{
  font-family: "gilroy extra bold", sans-serif;
  font-size: 16px;
  color: #000000;
}
