body {
  width: 1200px;
  margin: 0 auto;

  font-size: 15px;
  line-height: 2;
  color: rgb(70, 70, 70);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: "Gilroy", serif;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-family: "Gilroy", serif;
}

/*Layout element*/
.navigation__left {
  box-sizing: border-box;
  width: 200px;

  float: left;
}

.navigation__right {
  box-sizing: border-box;
  width: 512px;
  float: right;
}

.navigation__items {
  list-style: none;
}

.navigation__item {
  margin-left: 30px;
  display: inline-block;
}

.navigation__login {
  margin-right: 170px;
}

.navigation::after {
  content: "";
  display: table;
  clear: both;
}

.sitemap__list {
  list-style: none;
}

.sitemap__item {
  display: inline-block;
}

.sitemap__catalog {
  width: 256px;
  float: left;
}

.sitemap__contacts {
  float: right;
}

.sitemap__warrant {
  width: 220px;
  float: right;
}

.sitemap__delivery {
  width: 156px;
  float: right;
}

.sitemap::after {
  content: "";
  display: table;
  clear: both;
}

.goods {
  padding: 0 80px;
}

.goods__list {
  list-style: none;
}

.goods__item {
  display: none;
}

.goods__item--active {
  display: block;
}

.good::after {
  content: "";
  display: table;
  clear: both;
}

.good__photo {
  box-sizing: border-box;
  width: 440px;

  float: left;
}

.good__content {
  box-sizing: border-box;
  width: 500px;

  float: right;
}

.good__details {
  list-style: none;
}

.catalog__item {
  width: 160px;
  display: inline-block;

  padding: 0 20px;
}

.catalog__item-title {
  display: block;
}

.features::after {
  content: "";
  display: table;
  clear: both;
}

.features__menu {
  width: 320px;
  box-sizing: border-box;

  float: left;
}

.features__content {
  width: 880px;
  box-sizing: border-box;

  float: right;
}

.info::after {
  content: '';
  display: table;
  clear: both;
}

.about {
  width: 520px;
  box-sizing: border-box;

  float: left;
}

.contacts {
  width: 680px;
  box-sizing: border-box;

  float: right;
}

.footer__upper::after {
  content: '';
  display: table;
  clear: both;
}

.footer__tile {
  width: 200px;
  box-sizing: border-box;
  padding: 0 20px;

  float: left;
}

.footer__navigation {
  width: 400px;
  box-sizing: border-box;

  float: right;
}

.footer__middle::after {
  content: '';
  display: table;
  clear: both;
}

.address {
  width: 200px;

  float: left;
}

.footer__sitemap {
  box-sizing: border-box;
  width: 800px;
  padding: 0 200px;

  float: left;
}

.phone {
  box-sizing: border-box;
  width: 160px;

  float: right;
}

.footer__lower::after {
  content: '';
  display: table;
  clear: both;
}

.footer__dash {
  width: 120px;
  box-sizing: border-box;

  float: left;
}

.footer__social {
  width: 1000px;
  box-sizing: border-box;
  padding: 0 300px;

  float: left;
}

.footer__copyright {
  width: 80px;
  box-sizing: border-box;

  float: right;
}
