@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic,cyrillic-ext');

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold-webfont.eot');
  src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
  url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;

  background: #ffffff;
  color: #464646;
}

h1 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: "Gilroy", serif;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-family: "Gilroy", serif;
}

.header {
  box-sizing: border-box;
  width: 1160px;
  min-height: 300px;
  margin: 0 auto;

  border: 0 solid #ffffff;
  border-top-width: 40px;
  padding-left: 60px;
  padding-right: 60px;

  color: #000000;

  background-color: #f7e296;
}

.header__title {
  text-transform: uppercase;

  font-size: 48px;
  line-height: 48px;

  margin-top: -24px;
  margin-bottom: 32px;
}

.header a {
  color: #000000;
  text-decoration: none;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.footer {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  font-size: 0;
}

/*Layout element*/
.navigation {
  padding-bottom: 40px;
}

.navigation__left {
  box-sizing: border-box;
  width: 540px;

  float: left;
}

.navigation__left form {
  display: inline-block;
}

.navigation__left::before {
  content: "";

  display: inline-block;
  vertical-align: top;

  border: 8px solid transparent;

  width: 16px;
  height: 16px;
  background: url(../img/icons.png) no-repeat -10px -46px;
}

.navigation__search {
  font-size: 15px;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  opacity: 0.3;

  background-color: transparent;
  border: none;
}

.navigation__right {
  box-sizing: border-box;
  width: 500px;
  float: right;
}

.navigation__items {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0;
}

.navigation__item {
  margin-left: 30px;

  display: inline-block;
  vertical-align: top;

  font-size: 15px;
  line-height: 0;
}

.navigation__login {
  float: left;
  position: relative;

  padding-left: 28px;

  margin-right: 170px;
}

.navigation__login::before {
  content: "";

  position: absolute;
  top: -6px;
  left: -15px;

  width: 13px;
  height: 12px;
  background: url(../img/icons.png) no-repeat -159px -78px;
}

.navigation__basket {
  float: right;

  position: relative;
}

.navigation__basket::before {
  content: "";

  position: absolute;
  top: -6px;
  left: -15px;

  width: 12px;
  height: 12px;
  background: url(../img/icons.png) no-repeat -42px -10px;
}

.navigation__compare {
  float: right;
  margin-right: 120px;

  position: relative;
}

.navigation__compare::before {
  content: "";

  position: absolute;
  top: -6px;
  left: -15px;

  width: 10px;
  height: 10px;
  background: url(../img/icons.png) no-repeat -104px -10px;
}

.sitemap {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: rgb(0, 0, 0);
  font-family: "Gilroy", serif;

  text-transform: uppercase;
}

.sitemap__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sitemap__item {
  display: inline-block;
  vertical-align: top;
}

.sitemap__catalog {
  position: relative;

  width: 256px;
  float: left;
}

.sitemap__catalog::after {
  content: "";

  position: absolute;
  right: 40px;

  width: 16px;
  height: 16px;
  background: url(../img/icons.png) no-repeat -158px -10px;
}

.sitemap__contacts {
  float: right;
}

.sitemap__warrant {
  width: 220px;
  float: right;
}

.sitemap__delivery {
  width: 156px;
  float: right;
}

.goods {
  padding: 0 80px;
}

.good__photo {
  box-sizing: border-box;
  width: 440px;

  float: left;
}

.good__content {
  box-sizing: border-box;
  width: 500px;

  float: right;
}

.good__details {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  width: 160px;
  display: inline-block;
  vertical-align: top;

  padding: 0 20px;
}

.catalog__item-title {
  display: block;
}

.features__menu {
  width: 320px;
  box-sizing: border-box;

  float: left;
}

.features__content {
  width: 880px;
  box-sizing: border-box;

  float: right;
}

.partners a {
  display: inline-block;
}

.about {
  width: 520px;
  box-sizing: border-box;

  float: left;
}

.contacts {
  width: 680px;
  box-sizing: border-box;

  float: right;
}

.footer__tile {
  width: 200px;
  box-sizing: border-box;
  padding: 0 20px;

  float: left;
}

.footer__navigation {
  width: 400px;
  box-sizing: border-box;

  float: right;
}

.address {
  width: 200px;

  float: left;
}

.footer__sitemap {
  box-sizing: border-box;
  width: 800px;
  padding: 0 200px;

  float: left;
}

.phone {
  box-sizing: border-box;
  width: 160px;

  float: right;
}

.footer__dash {
  width: 120px;
  box-sizing: border-box;

  float: left;
}

.footer__social {
  width: 1000px;
  box-sizing: border-box;
  padding: 0 300px;

  float: left;
}

.footer__copyright {
  width: 80px;
  box-sizing: border-box;

  float: right;
}

.catalog__crumb {
  display: inline-block;
  vertical-align: top;
}

.filter {
  width: 348px;
  box-sizing: border-box;

  float: left;
}

.catalog__content {
  width: 852px;
  box-sizing: border-box;
  padding: 0 20px;

  float: right;
}

.sorting__types {
  display: inline-block;
  vertical-align: top;
}

.sorting__type {
  display: inline-block;
  vertical-align: top;
}

.sort__orders {
  display: inline-block;
  vertical-align: top;
}

.sort__order {
  display: inline-block;
  vertical-align: top;
}

.card {
  width: 360px;
  box-sizing: border-box;
  margin: 20px;

  float: left;
}

.pagination__page-numbers {
  display: inline-block;
  vertical-align: top;
}

.pagination__page-number {
  display: inline-block;
  vertical-align: top;
}
