body {
  font-size: 15px;
  line-height: 2;
  color: rgb(70, 70, 70);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: "Gilroy", serif;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-family: "Gilroy", serif;
}
